.subtitle-space {
  margin-top: 15px;
}

.input-group-response {
    margin-top: -4px;
}

.rating-space {
  margin-right: -8px;
}

.rating-bar {
  width: 450px;
}

.rate-toggle-btn {
  margin-bottom: 15px;
}

.rate{
  display: flex;
}